
.container {
	max-width: 76rem;
	width: 100%;
	margin: 0 auto;
	padding: 0 2rem;

	@media (max-width: 56rem)  {
		max-width: 36rem;
	}

	@media (max-width: 32rem)  {
		padding: 0 1rem;
	}
}