@use "../../../../styles/variables";

.contact {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all .2s ease-in-out;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.link {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.icon {

  &_hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: variables.$background-color;
    transition: all .2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}