
@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/jet_brains_mono_thin.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/jet_brains_mono_extra_light.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/jet_brains_mono_light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/jet_brains_mono_regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/jet_brains_mono_medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/jet_brains_mono_semi_bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}


@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/jet_brains_mono_bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/jet_brains_mono_extra_bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}

