*, ::after, ::before {
	box-sizing: border-box;
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
	margin: 0;
}

ol[role=list], ul[role=list] {
	list-style: none;
}

body {
	text-rendering: optimizeSpeed;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img, picture {
	max-width: 100%;
	display: block;
}

button, input, select, textarea {
	font: inherit;
}

a {
	text-decoration:none;
}

ul {
	margin: 0;
	padding: 0;
}

@media (prefers-reduced-motion:reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
}
