@use "../../../styles/variables";

.block {}

.skills {
	display: grid;
	grid-template-columns: repeat(6, 172px);
	grid-template-rows: repeat(2, 172px);
	row-gap: 2rem;
	justify-content: space-between;
	list-style: none;
	
	@media (max-width: 78rem) {
		grid-template-columns: repeat(6, 156px);
		grid-template-rows: repeat(2, 156px);
	}

	@media (max-width: 64rem) {
		grid-template-columns: repeat(4, 172px);
		grid-template-rows: repeat(3, 172px);
	}

	@media (max-width: 56rem)  {
		grid-template-columns: repeat(3, 112px);
		grid-template-rows: repeat(4, 112px);
	}

	@media (max-width: 24rem)  {
		grid-template-columns: repeat(3, 96px);
		grid-template-rows: repeat(4, 96px);
	}
}
