@use "../../../assets/styles/variables.scss";

.block {

}

.contacts {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-template-rows: 160px;
  justify-content: space-between;
  list-style: none;

  @media (max-width: 78rem) {
    grid-template-columns: repeat(6, 144px);
    grid-template-rows: 144px;
  }

  @media (max-width: 64rem) {
    grid-template-columns: repeat(3, 256px);
    grid-template-rows: repeat(2, 256px);
    row-gap: 4rem;
  }

  @media (max-width: 56rem)  {
    grid-template-columns: repeat(3, 112px);
    grid-template-rows: repeat(4, 112px);
    row-gap: 2rem;
  }

  @media (max-width: 32rem)  {
    grid-template-columns: repeat(3, 96px);
    grid-template-rows: repeat(2, 96px);
  }
}