@use "./variables.scss";

:root {
	color-scheme: dark;
}

* {
	color: variables.$accent-color;

	&::selection {
		background-color: variables.$accent-color;
		color: variables.$background-color;
	}
}

html {
	font-size: 16px;
	margin-bottom: 10rem;

	@media (max-width: 64rem) {
		font-size: 14px;
	}

	@media (max-width: 48rem) {
		font-size: 12px;
	}

	@media (max-width: 32rem) {
		font-size: 10px;
	}
}

body {
	background-color: variables.$background-color;
	font-family: variables.$font-family-primary;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: variables.$background-color;
  border: 1px dotted variables.$accent-color;
}

body::-webkit-scrollbar-thumb {
  background-color: variables.$accent-color;
}

button {
	cursor: pointer;
}